node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.local
.env.*.local
*.log
.DS_Store
.vscode
.idea
*.md
README.md
test
*.test.ts
*.spec.ts
coverage
*.ps1
*.js
!prisma/**/*.js
docker
prisma/docker
*.config.js
*.config.ts
!nest-cli.json
!tsconfig*.json

